@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@800&display=swap");

#customFooter {
  min-height: 210px;
  background-color: #2a3342;
}

#greenOctopus {
  width: 20px;
  height: 15px;
}

.footer .navbar-nav .nav-item .nav-link {
  color: #93a1b6;
  margin: 10px;
}

#logoOctopus {
  width: 70px;
}
.bgGreen {
  color: white;
  background-color: #2ad167;
  border-radius: 0.5rem;
  border: none;
  width: fit-content;
}
#presentation {
  padding: 3rem 0;
}
.whitePhoto {
  -webkit-filter: invert(1);
}
#titleHeader {
  font-family: "Kumbh Sans", sans-serif;
  font-size: 4rem;
}
#oficiePhoto {
  top: 40px;
  position: absolute;
  max-height: 400px;
}
#sunPhoto {
  left: 6rem;
  position: absolute;
}
#headerImg {
  position: relative;
}
#blueSpotPhoto {
  right: -3rem;
  top: 380px;
  position: absolute;
}

#secondTitle {
  font-family: "Kumbh Sans", sans-serif;
  font-size: 2.5rem;
}
.colorText {
  color: #2ad167;
}
.modalForm {
  display: none;
  background-color: #2a3342;
  position: sticky;
  top: 0px;
  height: 100vh;
  width: 100vw;
  z-index: 1;
}
.modalOctopus {
  width: 50px;
  margin-left: 43%;
  margin-bottom: 15px;
}
.modalColor {
  color: white;
}
.modalPhrase {
  color: #93a1b6;
  margin-left: 50px;
}
.buttonFormModal:hover {
  background-color: white;
  color: #2ad167;
}
.close {
  float: right;
  font-size: 3.5rem;
  color: white;
  padding-right: 20px;
}
@media (max-width: 1200px) {
  #headerImg {
    position: static;
  }
  #blueSpotPhoto {
    display: none;
  }
  #sunPhoto {
    display: none;
  }
  #oficiePhoto {
    position: static;
    max-width: 100%;
    margin-top: 15px;
  }
  .phoneCards {
    flex-wrap: wrap;
  }
}
@media (max-width: 770px) {
  .phoneCards {
    flex-direction: column;
    align-items: center;
  }
  #presentation {
    padding: 0;
  }
}
