#customFooter {
  min-height: 210px;
  background-color: #2a3342;
}

#greenOctopus {
  width: 20px;
  height: 15px;
}

.footer .navbar-nav .nav-item .nav-link {
  color: #93a1b6;
  margin: 10px;
}

#logoOctopus{
  width: 70px;
}
.bgGreen {
  color: white;
  background-color: #2ad167;
  border-radius: 0.5rem;
  border: none;
  width: fit-content;
}

.whitePhoto {
  -webkit-filter: invert(1);
}
