#customFooter {
  min-height: 200px;
  background-color: #2a3342;
}

#greenOctopus {
  width: 25px;
}
.bgGreen {
  color: white;
  background-color: #2ad167;
  border-radius: 0.5rem;
  border: none;
  width: fit-content;
}

.whitePhoto {
  -webkit-filter: invert(1);
}
